export SHARIN_UPSTREAM_REPO=nuxt/docs
export SHARIN_UPSTREAM_BRANCH=master
export SHARIN_UPSTREAM_CHANGED_FILEPATH_STARTS_WITH=en/
export SHARIN_ORIGIN_REPO=vuejs-jp/ja.docs.nuxtjs
export SHARIN_TOKEN_GITHUB=
